*.classpath
*.class*
cardgen/src/main/resources/application.properties
deck-gen-main/src/main/resources/application.properties
deckservice/src/main/resources/application.properties
deckgen-models/target/classes/META-INF/maven/*
deckgen-models/target/*
deck-gen-main/logs/app.log
deck-gen-main/logs/*