<head>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<script>
	const containerElement = document.getElementById('con123');
scaleContent(containerElement);
</script>
<div class="card-container-small">
	<img class="image-small" th:src="${image.url}"  >
	<span class="rules-and-flavor-box" id="con123">
			<div class="rules" th:each="rule : ${rules}" >
				<div th:utext="${rule}"></div>
			</div> 
			<div class="flavor" th:each="flavorLine : ${flavor}">
				<div th:text="${flavorLine}"></div>
			</div>
	</span>
</div>
