<h1>Card</h1>


<h2 th:text="${card.name}"></h2>
<p th:text="${card.manaCost}"></p>
<p th:text="${card.type}"></p>
<p th:text="${card.subtype}"></p>
<p th:text="${card.artDescription}"></p>
<p th:text="${card.rarity}"></p>
<p th:text="${card.rulesText}"></p>
<p th:text="${card.flavorText}"></p>
<p th:text="${card.power}"></p>
<p th:text="${card.toughness}"></p>


<img th:src="${image.url}" style="width: 400px;height: 560px;" >

<a th:href="@{/card/art/{id}(id=${card.cardId})}">Full Sized Art</a>
