<div th:replace="fragments/header">...</div>
<div th:replace="fragments/menu">...</div>

<div class="container">
  <div class="row align-items-start">
<table class="table dg-deck-input-box col">
<tr>
    <td>Name</td>
    <td th:text="${card.name}"></td>
</tr>
<tr>
    <td>Mana Cost</td>
    <td th:text="${card.manaCost}"></td>
</tr>
<tr>
    <td>type</td>

    <td th:text="${card.type}"></td>
</tr>
<tr>
    <td>subtype</td>
    <td th:text="${card.subtype}"></td>
</tr>
<tr>
    <td>Art Text</td>
    <td th:text="${card.artDescription}"></td>
</tr>
<tr>
    <td>Rarity</td>
    <td th:text="${card.rarity}"></td>
</tr>
<tr>
    <td>Rules</td>
    <td th:text="${card.rulesText}"></td>
</tr>
<tr>
    <td>Flavor Text</td>
    <td  th:text="${card.flavorText}"></td>
</tr>
<tr>
    <td>Power</td>
    <td th:text="${card.power}"></td>
</tr>
<tr>
    <td>Toughness</td>
    <td th:text="${card.toughness}"></td>
</tr>

</table>
<div class="col">
<div  th:replace="card-with-text-test">...</div>
</div>
</div>
</div>
