@font-face{
	font-family:"goudy";
	src: url('/fonts/Goudy-Mediaeval-Regular.ttf') format('truetype');
}
/* style.css */

/* Improve header styling */
.dg-header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0); /* Adjust color as needed */
}

.nav-link {
    color: #495057; /* Set text color for nav links */
}

.nav-link:hover {
    color: #007bff; /* Change color on hover */
    background-color: #e9ecef; /* Optional: add a background color on hover */
    border-radius: 0.375rem; /* Optional: add rounded corners on hover */
}



.header-container {
    max-width: 1200px; /* Optional: limit max width of header */
    margin: auto; /* Center align header content */
}

.card-margin{
	margin:20px;
}
body {
  	background-image:  url("/images/bg/bg-Texture-Seamless.jpg");
	background-repeat: repeat;
	/*background-color: saddlebrown;*/
}
.card-container-large {
	position: relative;
	/*text-align: center;*/
	height: 1680px;
	width: 1200px;
	color: white;
	margin: 3%;
	font-size: 50px;
}

.form-element 
{
	padding: 5px;
}

.card-container {
	position: relative;
	/*text-align: center;*/
	height: 840px;
	width: 600px;
	color: white;
	/*margin: 3%;*/
	font-size: 25px;
}

.card-container-small {
	position: relative;
	/*text-align: center;*/
	height: 420px;
	width: 300px;
	color: white;
	/*margin: 3%;*/
	font-size: 12.5px;
}

/* Bottom left text */
.rules-and-flavor-box {
	position: absolute;
	width: 76%;
	height: 28%;
	/*border: solid;
	border-width: 2px;*/
	top: 61.5%;
	left: 12%;
	right: 12%;
	color: black;
	/*font-size: 45px;*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
}

.rules {
	margin: 0.5%;
	padding: 0.5%;
	/*border: dotted;
	border-width: 2px;
	border-color: red;*/
		font-family: Georgia, 'Times New Roman', Times, serif;


}

.flavor {
	margin: 0.5%;
	padding: 0.5%;
	/*border: dashed;
	color: aquamarine;
	border-width: 2px;
	border-color: aqua;*/
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.rules-and-flavor-text {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: center;

}

.image-large {
	width: 1200px;
	height: 1680px;
}

.image {
	width: 600px;
	height: 840px;
}

.image-small {
	width: 300px;
	height: 420px;
}
.mana-icon{
	width: 20px;
	height: 20px;
}
.mana-icon-small{
	width: 10px;
	height: 10px;
}
.mana-icon-large{
	width: 40px;
	height: 40px;
}
.dg-bg{
	/*	background-image: url("/images/bg/header-leather.png");
	background-repeat: repeat;
	height:100%;*/
}
.dg-header-title {
	font-size: 40px;
	font-family: "goudy";
	padding: 10px;
}
.dg-header-frame{
	border-style: solid;
	border-width: 10px;
	border-top-color: #313131;
	border-left-color: #313131;
	border-right-color: slategrey;
	border-bottom-color: slategrey;
	background-image: url("/images/bg/parchment-2.png");
	background-repeat: repeat-x;
	margin: 20px;
}
.dg-button{
	border-style: solid;
	border-width: 3px;
	border-top-color: #313131;
	border-left-color:#313131;
	border-right-color: slategrey;
	border-bottom-color: slategrey;
	background-image: url("/images/bg/parchment-3.png");
	margin: 6px;
	padding:3px;
	font-family: "goudy";
	color: black;

}
.dg-deck-input-box{
	margin:20px;
	padding:10px;
		border-style: solid;
	border-width: 5px;
		border-top-color: #313131;
	border-left-color:#313131;
	border-right-color: slategrey;
	border-bottom-color: slategrey;
	background-image: url("/images/bg/parchment-2.png");
}
.dg-menu-bar{
	padding-left:20px;
}


.b-card {
  /* ...existing styles... */
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.b-card:hover {
  /* ...existing styles... */
  transform: translate(-50%, -50%) scale(1.1) rotate(0deg);
}

.b-card.active {
  /* ...existing styles... */
  z-index: 999;
  transform: translate(50%, 50%) scale(1.5) rotate(0deg);
  box-shadow: 0px 0px 14px gold; 
  border-radius:14px;
}