<head>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<style>
	.image-grid {
		display: grid;
		grid-template-columns: repeat(3, 600px);
		grid-gap: 0px;
		background-color: white;
	}

	* {
		margin: 0;
		padding: 0;
	}
</style>

<div class="image-grid">
	<div th:each="map : ${imageList}">
		<div class="card-container">
			<img class="image" th:src="${map.get('image')[0]}">
			<div class="rules-and-flavor-box">
				<div class="rules" th:each="rule : ${map.get('rules')}">
					<div th:utext="${rule}"></div>
				</div>
				<div class="flavor" th:each="flavorLine : ${map.get('flavor')}">
					<div th:text="${flavorLine}"></div>
				</div>
			</div>
		</div>
	</div>
</div>