<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Make a Single Card</title>
</head>

<body>
	<div th:replace="fragments/background-open"></div>
	<div th:replace="fragments/header">...</div>
	<div th:replace="fragments/menu">...</div>
	<div class="container">
		<div class="dg-deck-input-box row">
			<form method="post" th:action="@{/submit-card}">
				<div>
					<label for="theme">What is the theme of your Card:</label>
					<input type="text" id="theme" name="theme">
				</div>
				<div>
					<label for="cardName">Card Name:</label>
					<input type="text" id="cardName" name="cardName">
				</div>
				<div>
					<label for="type">Card Type</label>
					<select id="type" name="type">
						<option th:each="tp : ${types}" th:value="${tp.type_id}" th:text="${tp.type_id}"></option>
					</select>
				</div>
				<div>
					<label for="subtype">Card Subtype</label>
					<input type="text" id="subtype" name="subtype">
				</div>
				<div>
					<label for="artStyle">Choose and Art Style</label>
					<input type="text" id="artStyle" name="artStyle">
				</div>
				<div>
					<label for="red">Red</label>
					<input type="number" id="red" name="red" value="0"/>

				</div>
				<div>
					<label for="blue">Blue</label>
					<input type="number" id="blue" name="blue" value="0"/>
				</div>
				<div>
					<label for="green">Green</label>
					<input type="number" id="green" name="green" value="0"/>

				</div>
				<div>
					<label for="white">White</label>
					<input type="number" id="white" name="white" value="0" />
				</div>
				<div>
					<label for="black">Black</label>
					<input type="number" id="black" name="black" value="0"/>
				</div>
				<div>
					<label for="colourless">Colourless</label>
					<input type="number" id="colourless" name="colourless" value="0">
				</div>
				<div id="tone-selector">
					<label for="tone-selector">
						Select the deck's vibe:
					</label>
					<input type="radio" name="vibe" id="radioButton1" th:value="Grim">
					<label for="radioButton1">
						Grim
					</label>
					<input type="radio" name="vibe" id="radioButton2" th:value="Serious">
					<label for="radioButton2">
						Serious
					</label>
					<input type="radio" name="vibe" id="radioButton3" th:value="Normal" checked>
					<label for="radioButton3">
						Normal
					</label>

					<input type="radio" name="vibe" id="radioButton4" th:value="Silly">
					<label for="radioButton4">
						Silly
					</label>
					<input type="radio" name="vibe" id="radioButton5" th:value="Absurd">
					<label for="radioButton5">
						Absurd
					</label>
				</div>


				<!--/*	
        <label for=""></label>
       	<input type="" id="" name="">
       	
        <label for=""></label>
       	<input type="" id="" name="">
       	
        <label for=""></label>
       	<input type="" id="" name="">       	       	       	       	
        */-->
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
	<div th:replace="fragments/background-close">...</div>

</body>

</html>