<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Make a Single Card</title>
</head>
<script th:inline="javascript">
	var types = /*[[${types}]]*/[];
	var subtypes = /*[[${subtypes}]]*/[];
</script>

<script type="text/javascript" th:src="@{/js/typeSubtype.js}"></script>

<body>
	<div th:replace="fragments/background-open"></div>
	<div th:replace="fragments/001-header">...</div>
	<div class="container col-md-6 col-lg-7">
		<div class="dg-deck-input-box row">
			<h4 class="mb-3">Make a Card!</h4>
			<form method="post" th:action="@{/submit-card}">
				<div class="row g-3">
					<div>
						<label for="theme" class="form-label">Theme</label>
						<input type="text" id="theme" name="theme" class="form-control" required>
						<div class="invalid-feedback">
							Valid Theme is required.
						</div>
					</div>
					<div>
						<label for="cardName" class="form-label">Card Name</label>
						<input type="text" id="cardName" name="cardName" class="form-control">
					</div>
					<div class="col-sm-6">
						<label for="type" class="form-label">Card Type</label>
						<select id="type" name="type" onchange="filterOptions()" class="form-select">
							<option value="" disabled selected>Select your option</option>
							<option th:each="tp : ${types}" th:value="${tp.type_name}" th:text="${tp.type_name}">
							</option>
						</select>
					</div>
					<div class="col-sm-6">
						<label id="subtypeLabel" class="form-label" for="subtype">Card Subtype</label>
						<select id="subtype" name="subtype" class="form-select">
							<option th:each="stp : ${subtypes}" th:value="${stp.subtype_name}"
								th:text="${stp.subtype_name}"></option>
						</select>
					</div>
					
					<div class="col-sm-5">
						<label for="artStyle" class="form-label">Art Style</label>
						<select id="artStyle" name="artStyle" class="form-select">
							<option th:each="as : ${artStyles}" th:value="${as.shortName}" th:text="${as.shortName}">
							</option>
						</select>
					</div>
					<h4>Mana Value</h4>
					<div class="col-sm-2">
						<label for="red" class="form-label">Red</label>
						<input type="number" id="red" name="red" value="0" class="form-control"/>

					</div>
					<div class="col-sm-2">
						<label for="blue" class="form-label">Blue</label>
						<input type="number" id="blue" name="blue" value="0" class="form-control"/>
					</div>
					<div class="col-sm-2">
						<label for="green" class="form-label">Green</label>
						<input type="number" id="green" name="green" value="0" class="form-control"/>

					</div>
					<div class="col-sm-2">
						<label for="white" class="form-label">White</label>
						<input type="number" id="white" name="white" value="0" class="form-control"/>
					</div>
					<div class="col-sm-2">
						<label for="black" class="form-label">Black</label>
						<input type="number" id="black" name="black" value="0" class="form-control"/>
					</div>
					<div class="col-sm-2">
						<label for="colourless" class="form-label">Colourless</label>
						<input type="number" id="colourless" name="colourless" value="0" class="form-control">
					</div>
					<div id="tone-selector" >
						<h4 for="tone-selector" class="form-label" >
							Vibe
						</h4>
						<input type="radio" name="vibe" id="radioButton1" th:value="Grim" class="form-check-input">
						<label for="radioButton1" class="form-check-label">
							Grim
						</label>
						<input type="radio" name="vibe" id="radioButton2" th:value="Serious" class="form-check-input">
						<label for="radioButton2" class="form-check-label">
							Serious
						</label>
						<input type="radio" name="vibe" id="radioButton3" th:value="Normal" checked class="form-check-input">
						<label for="radioButton3" class="form-check-label">
							Normal
						</label>

						<input type="radio" name="vibe" id="radioButton4" th:value="Silly" class="form-check-input">
						<label for="radioButton4" class="form-check-label">
							Silly
						</label>
						<input type="radio" name="vibe" id="radioButton5" th:value="Absurd" class="form-check-input">
						<label for="radioButton5" class="form-check-label">
							Absurd
						</label>
					</div>
					<div>
						<label for="deck" class="form-label">Deck</label>
						<select id="deck" name="deck" class="form-select">
							<option th:each="deck : ${decks}" th:value="${deck.deckId}" th:text="${deck.name}"></option>
						</select>

					</div>


					<div>
						<button type="submit" class="w-100 btn btn-primary btn-lg">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/background-close">...</div>

</body>

</html>