<div th:replace="fragments/001-header">...</div>
<div class="container">
<div class="dg-deck-input-box">
<h1 th:text="${deck.name}"></h1>
</div>
</div>
<div class="container">
	
	
	
	<div class="pillar-layout">
	  <!-- Left Pillar -->
	  <div class="column-container">
	    <div class="pillar-top"></div>
	    <div class="pillar-mid"></div>
	    <div class="pillar-btm"></div>
	  </div>
<table class="dg-deck-input-box table">
	<tr>
		<th>Card Name</th>
		<th>CMC</th>
		
	</tr>
	<tr th:each="card : ${cards}" >
		<td><a th:text="${card.name}" th:href="@{/card/{id}(id=${card.cardId})}"></a></td>
		<td th:text="${card.manaCost}"></td>
	</tr>
	
</table>
<!-- Right Pillar -->
<div class="column-container">
  <div class="pillar-top"></div>
  <div class="pillar-mid"></div>
  <div class="pillar-btm"></div>
</div>


</div>
<a th:href="@{/deck/printable-nine/{id}(id=${deck.deckId})}">All Cards</a>
