<div th:replace="fragments/001-header">...</div>

<div class="dg-button"><a th:href="@{/deck-gen}">New Deck</a></div>
<div class="dg-button"><a th:href="@{/new-single}">New Single</a></div>
<div class="dg-button"><a th:href="@{/open-booster}">Open Booster Pack</a></div>

<div class="container">
	<div class="row">
		<div class="card" style="width: 18rem;">
			<img src="\images/w.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
					card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="\images/b.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
					card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="\images/g.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
					card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
</div>