<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Majik: The Generating</title>
</head>
<body>
    <div class="container header-container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="text-decoration-none">
                <span class="dg-header-title">Majik: The Generating</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item dg-button"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li class="nav-item dg-button"><a th:href="@{/decks}" class="nav-link">Decks</a></li>
                <li class="nav-item dg-button"><a th:href="@{/new-single}" class="nav-link">New Single</a></li>
                <li class="nav-item dg-button"><a th:href="@{/deck-gen}" class="nav-link">New Deck</a></li>
                <li class="nav-item dg-button"><a th:href="@{/create-user}" class="nav-link">Create User</a></li>
                <li class="nav-item dg-button"><a th:href="@{/logout}" th:if="${#authentication.isAuthenticated()}" class="nav-link">Logout</a></li>
            </ul>
        </header>
    </div>
</body>
</html>