<nav class="navbar navbar-expand-lg">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class=" navbar">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/}">Home <span class="sr-only"></span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/decks}">Decks <span class="sr-only"></span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/new-single}">New Card<span class="sr-only"></span></a>
				</li>
				
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/deck-gen}">New deck<span class="sr-only"></span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/create-user}" sec:authorize="hasRole('ROLE_ADMIN')">Create
						User </a>
				<li class="nav-item active">
					<a class="nav-link dg-button" th:href="@{/logout}" th:if="${#authentication.isAuthenticated()}">
						Logout</a>
				</li>

			</ul>

			<!--<a class="dg-button" th:href="@{/decks}">Decks</a>
<a class="dg-button" th:href="@{/}">Home</a>-->
		</div>
	</div>
</nav>